#searchBar{
    float:left;
    height:22px;   
    text-align:left;
}
#searchButon{
	border-radius:5px;
	margin-left:0.5em;
	height:22px;
	background-color:lightblue;
}
#searchDiv{
	margin-left:300px;
	margin-top: 80px;
}
#options{
	border-radius:5px;
	background-color:lightblue;
	width: 200px;
	padding: 5px;
}
.options{
	font-size: 18px;
}
#pets{
	visibility: hidden;
}
.pets{
	visibility: hidden;
}
